:root {
  --gap: 10px;
}

.Grid {
  display: grid;
  gap: var(--gap);
  grid-template-areas: "books notes tags";
  grid-template-columns: 1.5fr 2fr 0.7fr;
  background-color: #474747;
}

.Grid > div {
  padding: 10px;
}

.Books {
  grid-area: books;
}

.Notes {
  grid-area: notes;
}

.Tags {
  grid-area: tags;
}

.Books > div, .Tags > div, .Notes > div:not(:last-child) {
  background-color: rgb(126, 126, 126);
  border-radius: 5px;
}

.Tags h3 {
  text-align: right;
}

.Notes h3 {
  text-align: center;
}

.Item:hover > h3 {
  border-bottom: 3px solid var(--white);
}

@media screen and (max-width: 700px) {
  .Grid {
    grid-template-areas: "notes" "books" "tags";
    grid-template-columns: 1fr;
    border: none;
  }

  .Grid div > h3 {
    text-align: center;
  }
}
