:root {
  --gap: 10px;
}

.Grid {
  display: grid;
  gap: var(--gap);
  grid-template-areas: "books notes tags";
  border: 1px red solid;
  grid-template-columns: 1.5fr 2fr 0.7fr;
}

.Grid > div {
  padding: 10px;
  border: 1px red solid;
}

.Books {
  grid-area: books;
}

.Notes {
  grid-area: notes;
}

.Tags {
  grid-area: tags;
}

.Tags h3 {
  text-align: right;
}

.Notes h3 {
  text-align: center;
}

.Item:hover > h3 {
  border-bottom: 3px solid var(--white);
}

@media screen and (max-width: 700px) {
  .Grid {
    grid-template-areas: "notes" "books" "tags";
    grid-template-columns: 1fr;
    border: none;
  }

  .Grid div > h3 {
    text-align: center;
  }
}
